body {
  background: #000;
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
}

#word {
  position: fixed;
  display: flex;
  gap: 10px;
  will-change: transform;
  padding: 10px;
}

/* MOBILE */
@media (max-width: 767px) {
  .letter {
    display: grid;
    grid-template-columns: repeat(3, 12px); /* Reduzido de 16px pra 12px */
    grid-template-rows: repeat(3, 12px);
  }

  .letter span {
    font-size: 12px; /* Reduzido de 16px pra 12px */
    display: none;
    color: #00aaff;
    animation: heartPulse 2s infinite;
    justify-content: center;
    align-items: center;
  }
}


/* DESKTOP */
@media (min-width: 768px) {
  .letter {
    display: grid;
    grid-template-columns: repeat(5, 28px);
    grid-template-rows: repeat(5, 28px);
  }
  .letter span {
    font-size: 28px;
    display: flex;
    color: #00aaff; /* 💙 cor azul */
    justify-content: center;
    align-items: center;
    animation: heartPulse 2s infinite;
  }
}


@keyframes heartPulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.3); }
}
