body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#word {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: 12px; /* espaço maior entre as letras */
  will-change: transform;
}

.letter {
  display: grid;
  grid-template-columns: repeat(5, 28px);
  grid-template-rows: repeat(5, 28px);
  gap: 1px; /* corações bem juntinhos */
  user-select: none;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.letter span {
  color: #1E90FF;
  font-size: 28px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
  animation: pulse 1.5s infinite ease-in-out;
}

